@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Categories";
}

@model List<ExpenseWebAppDAL.Entities.Category>

<script src="~/js/CategoriesFrontend.js"></script>


<div class="text-center">
    <h1 class="display-4">Categories</h1>
    <br />
    <hr />
    <a class="btn btn-secondary" onclick="RedirectToCategoryCreation()" >Create new</a>
    <br />

    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var e in Model)
                {
                    <tr>
                        <td>
                            @e.Id
                        </td>
                        <td>
                            @e.Name
                        </td>
                        <td>
                            <button type="button" class="btn btn-light" onclick="RedirectToCategoryEditing(@e.Id)">Edit</button>
                            <button type="button" class="btn btn-light" onclick="deleteCategory(@e.Id)">Delete</button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>