@{
    ViewData["Title"] = "CreateExpense";
}

@model ExpenseWebAppDAL.Entities.Expense

<div class="text-center">
    <h1 class="display-4">Create an Expense</h1>
</div>

<script src="~/js/ExpensesFrontend.js"></script>
<script>window.onload = loadCategories();</script>

<!-- Check for id to route the data!!! -->
<form asp-controller="Home">
    <input type="hidden" id="ExpenseId" name="Id" value="@Model?.Id" />

    <label class="mt-4">Value</label>
    <input class="form-control" type="number" id="ExpenseValue" name="Value" placeholder="0" step="0.01" value="@Model?.Value" />

    <label class="mt-4">Description</label>
    <input class="form-control" type="text" id="ExpenseDescription" name="Description" placeholder="Enter description" value="@Model?.Description" />

    <label class="mt-4">Category</label>
    <select class="form-control" id="CategoryId" name="CategoryId">
        <option value="">Loading Categories.qwerrweqqrew..</option>
    </select>

    <button class="btn btn-primary mt-4" type="button" onclick="submitExpense()">Ok</button>
</form>
