@{
    ViewData["Title"] = "EditExpense";
}

@model ExpenseWebAppBLL.DTOs.ExpenseDTO

<div class="text-center">
    <h1 class="display-4">Edit an Expense</h1>
</div>

<script src="~/js/ExpensesFrontend.js"></script>
<script>window.onload = loadCategories();</script>

<!-- EDIT HTTPPUT -->
<form asp-controller="Home">
    <input type="hidden" id="ExpenseId" name="Id" value="@Model?.Id" />

    <label class="mt-4">Value</label>
    <input class="form-control" type="number" id="ExpenseValue" name="Value" placeholder="0" step="0.01" value="@Model?.Value" />

    <label class="mt-4">Description</label>
    <input class="form-control" type="text" id="ExpenseDescription" name="Description" placeholder="Enter description" value="@Model?.Description" />

    <label class="mt-4">Categories</label>
    <input class="form-control" type="text" id="ExpenseCategories" name="Categories" value="@Model?.Categories"/>

    <label class="mt-4">Add Category</label>
    <select class="form-control" id="CategoryId" name="CategoryId">
        <option value="">Loading Categories...</option>
    </select>

    <label class="mt-4">Delete Category</label>
    <select class="form-control" id="CategoryName" name="CategoryName">
        <option value="">Choose option</option>
        @{
            if (Model?.Categories != null)
            {
                foreach (var e in Model.Categories.Split(";"))
                {
                    <option value="@e">@e</option>
                }
            }
        }
    </select>

    <button class="btn btn-primary mt-4" type="button" onclick="updateExpense()">Ok</button>
</form>
