@{
    ViewData["Title"] = "Home Page";
}

<script src="~/js/HomeFrontend.js"></script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="btn btn-secondary" onclick="LoginRedirection()">Login</a>
    <a class="btn btn-secondary" onclick="RedirectToRegistration()">SignUp</a>
</div>
