@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="btn btn-primary" asp-action="ExpensesView" asp-controller="Home">Overview</a>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Category">Categories</a>
    <a class="btn btn-secondary" asp-action="ExpenseRedirection" asp-controller="Home">Create new</a>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
